<div class="modal-header">
    <button type="button" class="close" ng-click="$close()" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">24 Hour Telemetry History</h4>
</div>
<div class="modal-body">
    <rickshaw
            rickshaw-options="history_options"
            rickshaw-features="history_features"
            rickshaw-series="history_series">
    </rickshaw>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close()">Close</button>
</div>
