<div class="p-t-10 container-fluid">

    <div class="row">
        <div class="col-md-12 col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Alerts</h3>
                </div>
                <div class="panel-body">
                    <alert-list></alert-list>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Shipments</h3>
                </div>
                <div class="panel-body">
                    <ship-list></ship-list>
                </div>
            </div>


        </div>
        <div class="col-xs-12 col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Location</h3>
                </div>
                <div class="panel-body">

                    <map-chart></map-chart>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Package Telemetry</h3>
                </div>
                <div class="panel-body">
                    <h3 style="text-align: center">Temperature</h3>
                    <temp-chart></temp-chart>
                    <h3 style="text-align: center">Humidity</h3>
                    <hum-chart></hum-chart>
                    <h3 style="text-align: center">Displacement</h3>
                    <disp-chart></disp-chart>
                </div>
            </div>


        </div>
    </div>

</div>